html{color:#000;
		background:#fff;
		padding:20px 0;
		font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdan, Arial, Tahoma;
}

#wrap {width:960px; margin:0 auto; background-color:#FFFF00}
#top { 
	width:950px; color:#FF0000; 
	padding:0 15px 20px 0;
	text-align:left; font-weight:bold;
}


#left{float:right;}

